body {
    background-color: white;
    margin: 0; /* Remova as margens padrão do corpo */
}

#cabecalho {
    background-color: #f27;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.textos {
    border: 2px solid rgb(208, 196, 219);
    border-radius: 6px;
    max-width: 100%; /* Faça com que o elemento tenha no máximo a largura da tela */
    width: 80%; /* Defina a largura desejada */
    height: auto; /* A altura se ajustará automaticamente ao conteúdo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 20px;
    max-height: 300px; /* Defina a altura máxima que desejar */
    overflow-y: auto;  /* Adiciona uma barra de rolagem vertical quando necessário */
    border: 1px solid #ccc; /* Opcional: Estilo da borda */
}

header {
    background-color: transparent;
    position: absolute;
    top: 80px; /* Espaço para o cabeçalho */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

nav a:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
}

/* Mídia query para telas menores, por exemplo, dispositivos móveis */
@media (max-width: 768px) {
    .textos {
        width: 90%; /* Ajuste a largura para telas menores */
        height: 50%;
    }

    header {
        top: 100px; /* Aumente o espaço para o cabeçalho em telas menores */
    }

    nav ul {
        float: none; /* Altere o comportamento da lista para empilhar em telas menores */
        text-align: center;
    }

    nav li {
        float: none; /* Garanta que os itens da lista sejam exibidos como blocos em telas menores */
    }
}
